@font-face {
    font-family: "Anamoly Regular";
    src: url('./Anomoly\ Regular.ttf');
  }

body
{
    font-family: "Anamoly Regular";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.container
{
    padding: 30px;
    border: 3px solid black;
    border-radius: 15px;
    width: 380px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #e9f0f4;
}

.screen
{
    background-color: #363b44;
    height: 20%;
    border: 5px solid #8119d0;
    border-radius: 12px;
    margin-bottom: 35px;
    padding: 5px 10px;
}

.top-text
{
    box-sizing: border-box;
    height: 40%;
    color: #ee5354;
    padding: 15px 15px;
    font-size: 20px;
    text-align: right;
}

.bottom-text
{
    box-sizing: border-box;
    padding: 15px 15px;
    height: 60%;
    color: #ee5354;
    font-size: 40px;
    text-align: right;
}
.buttons
{
    background-color: #30475d;
    flex-grow: 1;
    border-radius: 12px;
    border: 5px solid #8119d0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 40px;
}

.buttons > div
{
    display: flex;
    justify-content: space-between;
}

button
{
    color: #fcfaf8;
    background-color: #222427;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    font-size: 24px;
    border: 0;
}

button:hover
{
    cursor: pointer;
    background-color: #48494a;
}

button:active
{
    font-size: 19px;
    background-color: #333333;
}

#equals
{
    flex-grow: 0.7;
}

#clear,#del
{
    flex-grow: 0.3;
    color: #ee5354;
}

#divide,#plus,#minus,#into,#equals
{
    color: #ee5354;
}

.copyright
{
    margin: 50px;
    font-weight: bold;
}